
* { padding: 0; margin: 0; }
html, body{
    min-height: 100% !important;
    height: 100%;
}
body{
  overflow:hidden;
}

.about-me {
  transition: all 300ms ease-in-out;
}

/*Home Component*/

.home-container {
  margin-left: 30px;
  margin-right: 20px;
  position:absolute;
  top:80px;
  width: 95%;
  height: calc(100% - 80px);
  background:rgb(76,178,231);
  overflow: hidden;
}

.home-container h1 span {
  font-size:65px;
  color:white;
  border-bottom: 10px solid black;
  font-family:Questrial, sans-serif;
  font-weight:bold;
  letter-spacing: 2px;
  margin-left:100px;
  padding-bottom: 20px;
  transition: all 300ms ease-in-out;

}
.home-container h1 {
  margin-top:100px;

}

.home-container h5 {
  font-size:14px;
  color:white;
  margin-left:100px;
  margin-top:-30px;
  letter-spacing: 2px;
  font-family: Lato, sans-serif;
  z-index: 99999;

}

.home-container h5 img {
  width:200px;
  height:100px;
  transform:translateY(40px);
}

.home-bg {
  position: absolute;
  top:0;
  left:0%;
  width:auto;
  height: 100%;
}

.next {
  margin-top: 50px !important;
}


/* side nav */

.side-nav-container {
  position: absolute;
  top:80px;
  right:0;
  margin-right:34px;
  width:150px;
  height:calc(100% - 80px);
  background:black;
  z-index: 99999999;
}

.side-nav-container a {
  color:white;
  margin-left:10px;
  margin-top: 30px;
  font-family: 'Questrial', sans-serif;
  text-transform: uppercase;
  font-size:12px;
  letter-spacing: 1px;
  transition: all 300ms ease-in-out;
}

.side-nav-container a:hover {

}
a, u {
  text-decoration: none !important;
}

.side-nav-a {
  margin-top:20px;
}
.side-nav-a a {
  margin-top:30px;

}

.side-tab {
  position: absolute;
  width: 50px;
  height:100%;
  background:lightsalmon;
  opacity:0.5;
}


/*  Nav */

.nav-container {
  width:100%;
  height:80px;
  top:0;
  left:0;
}

.inner-nav {
  transform:translateY(50px);
}

.inner-nav a {
  margin-left: 150px;
  font-size:16px;
  font-family: 'Questrial', sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  transform:translateY(50px) !important;
}

.inner-nav a:visited {
  color:black;
}




.overlay-ani {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-size: cover;
  opacity: 0;
  z-index: 99999;
  pointer-events: none;
}

@keyframes byebye {
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(-3000px);

  }
}

.active {
  border-bottom: 5px solid black !important;
  font-weight:bold !important;
}
.logo-img {
  position: fixed;
  left: 50%;
  top:-10px;
  transform: translate(-50%, 0);
  width:100px;
  height:100px;
  cursor:pointer;
}

.arrow {
  transform:translateY(44px) !important;
  margin-left: 20px;
  filter: invert(100%);
  width:50px !important;
}
.email-logo {
  width:40px;
  height:40px;
  float:right;
  margin-right: 100px;
  margin-top:20px;
  cursor: pointer;
}

.about-h1 {
  border-bottom: none !important;
}


/* Each state */

.about-link:visited { text-decoration: none; color:black; }
.about-link:hover { text-decoration: none; color:black; }
.about-link:focus { text-decoration: none; color:black; }
.about-link:hover, a:active { text-decoration: none; color:black }

.intro-container video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999;
  animation: bye 300ms ease-in-out 2s forwards;
  pointer-events: none !important;
}

.intro-container{
  z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

@keyframes bye {
  0%{
    opacity:1;
  }
  100%{
    opacity: 0;
    display: none;
  }
}

.about-p {
  color:white;
  font-size:20px;
  font-family: Questrial,sans-serif;
  margin-left: 100px;
  width:400px;
  margin-top:30px;
  line-height:33px;
}

.about-link {
  border-bottom: 1px solid black !important;
}


/* Animations */
.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 2s ease-in;
}

.example-appear {
  opacity: 0.01;
  transition: opacity 1s ease-in;
}

.example-appear.example-appear-active {
  opacity: 1;
}

.route-enter, .route-appear {
  opacity: 1;
  animation: slideUp 2s cubic-bezier(0.165,0.84,0.44,1) forwards ;

}

.route-leave {
  opacity:1;
  animation: slideLeft 2s cubic-bezier(0.165,0.84,0.44,1);
  position: absolute;


}

.active-ness {
  font-weight: bold !important;
  border-bottom: 2px solid white;
}

.new-enter, .new-appear {
  opacity: 1;
  animation: slideLeft 2s 1s cubic-bezier(0.165,0.84,0.44,1) forwards ;

}

.new-leave {
  opacity:1;
  animation: slideLeft 2s cubic-bezier(0.165,0.84,0.44,1);
  position: absolute;


}

.sideImg-enter, .sideImg-appear {
  opacity: 1;
  animation: slideLeft 0.6s 4s cubic-bezier(0.165,0.84,0.44,1) ;

}

.sideImg-leave {
  opacity:1;
  animation: slideLeft 0.6s 4s cubic-bezier(0.165,0.84,0.44,1);
  position: absolute;


}



@keyframes slideLeft {
  0%{
    opacity:0;
    transform: translateX(-100px);

  }
  100%{
    opacity:1;
    transform: translateX(0);
  }
}

@keyframes slideUp {
  0%{
    opacity: 1;

  }
  50%{
    opacity:1;
  }
  100%{
    opacity: 0;

  }
}

@keyframes slideUpAndOut {
  0%{
    opacity:1;
    transform: translate3d(0,100px,0);

  }
  100%{
    opacity:1;
    transform: translate3d(0,0,0);
  }
}

.cover-animation {
  margin-left: 30px;
  margin-right: 20px;
  position:absolute;
  top:80px;
  width: 95%;
  height: calc(100% - 80px);
  z-index:999;
  animation:coverAni 500ms ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 400ms ease-in-out forwards;
}

.cover-animation img {
  position:absolute;
  top:0px;
  left:0;
  width: 95%;
  height: 100%;
  background:green;
  display: none;
}

@keyframes fadeOut {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes coverAni {
  0%{
    width:0;
    left:0;
    transform:translateX(0px)
  }
  50%{
    width:200px;
    transform:translateX(1000px)

  }
  100%{
    width:100%;
    transform:translateX(0px)

  }
}

.nav-container a {
  transform:translateY(50px);
}


.side-nav-a h1 {
  font-size: 14px;
  color:white;
  margin-left:10px;
  padding-bottom: 10px;
  font-family:Questrial, sans-serif;
  letter-spacing: 1px;
}



@media (max-width: 1200px) {
  body {
  }

  .home-container {
    margin: 0 !important;
    width:100%;

  }

  .home-container h1 span {
    font-size: 20px !important;
    margin: 0 !important;
    margin-left:30px !important;
  }
  .home-container h5 {
    margin: 0 !important;
    margin-left:30px !important;

  }
  .side-nav-container {
    right: 0 !important;
    margin: 0 !important;
    background: rgba(0,0,0,0.5)
  }

  .about-me {
    margin-left:20px !important;
  }

  .email-logo {
    margin-right: 20px !important;
  }
}

