

body{
    width:100%;
    height:100%;
    background:white;
    margin:0;
    padding:0;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif !important;

}


.lower-overlay{
    position: fixed;
    top:150px;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index:3;
}
.main-navbar {
    width:100%;
    height:150px;
    position: fixed;
    top:0;
    left:0;
    color:white;
    overflow: hidden;
    z-index:999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;

}



.main-hot-container > img{
    width:260px;
    height:260px;
    margin-top:50px;
    margin-left:60px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);

}

h1{
    font-family: 'Work Sans', sans-serif;

}

a{
    text-decoration: none;
}

.main-navbar a {
    color: white ;
    font-size:13px;
    text-transform: uppercase;
    letter-spacing:2px;
    font-weight:500;
    margin-left:15px;
    cursor: pointer;
    height:50px;
    font-family: 'Work Sans', sans-serif !important;

}

.responsive-details{
    display: none;
}

.account-nav-cover-art{
    position: absolute;
    right:0;
    top:0;
    width:30%;
    z-index:-999;
    height:100%;
}

.name-bg-img{
    filter:blur(5px);
}

.account-nav-cover-art img {
    position: absolute;
    top: 0;
    left:0;
    width:auto;
    height:100%;
    box-shadow:0px 0px 0px 0px;
}


.name-overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index:9;
}

.name-overlay h1 {
    color:white;
    text-align: center;
    font-size:14px;
    text-transform: uppercase;

}

.name-overlay img {
    position: absolute;
    top:0;
    left:30%;
    width:100%;
    height:100%;
    border-radius: 100%;

}

.profile-pic-container{
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -20px; /* Half the height */
    margin-left: -45px; /* Half the width */
}

.profile-pic{
    transition: all 300ms ease-in-out;
}


.left-side-nav-items{
    float: left;
    margin-left: 30px;
    margin-top: 75px;
    transition: all 100ms ease-in-out;

}

.design-line{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:5px;
    background:black;
}



.right-side-nav-items{
    position: relative;
    float: right;
    margin-right:35%;
    font-size:20px;
    margin-top: 70px;
    white-space: nowrap;
    transition: all 100ms ease-in-out;
}

.animated-dropdown{
    overflow: hidden;
    position: fixed;
    margin-left:50px;
    width:90%;
    z-index:5;
    background:white;
    top:100px;
    border-top:5px solid black;
    height:0px;
    transition: height 150ms ease-in-out;
}



.heightChanger{
    height:400px;
}

.animated-dropdown-image-container{
    float:right;
    position: absolute;
    top:0;
    left:55%;
    width:45%;
    height:100%;
    overflow: hidden;
    transform: scale(1.1);

}

.animated-dropdown-image-container-side-info h1{
    color:white;
    font-size:20px !important;
    text-align: center;
    transform:translateY(0px);
}

.animated-dropdown-image-container-side-info h2{
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 60px;
    font-weight:bold;
    font-size:20px;
    pointer-events: none;
    color:white;
    bottom: 25px;
}

.animated-dropdown-image-container-side-info{
    z-indeX: 2;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.animated-dropdown-image-container .dropdown-bg-img {
    filter: blur(6px);
    position: absolute;
    top:0;
    left:0;
}

.dropdown-side-img{
    position: absolute;
    top: 60%;
    left: 50%;
    width: 60%;
    height: 60%;
    margin-top: -30%; /* Half the height */
    margin-left: -30%;
    z-index:3;
}

.listOf-items-dropdown{
    columns: 3;
    width:40%;
    text-decoration: none;
    margin-top:40px;
    list-style-type: none;

}

.animated-dropdown h1{
    margin-left:38px;
    margin-top:40px;
    font-size:50px;
    font-weight:bold;
    color:black !important;
}

.listOf-items-dropdown li{
    font-size:17px;
}

.search-container{
    width:100%;
    background:white;
    position: fixed;
    top:100px;
    left:0;
    text-align: center;
    height: 0px;
    transition: height 300ms ease-in-out ;

}

.changeSearchContainerHeight{
    height:300px;
}

.search-container input {
    width: 50%;
    border:none;
    border-bottom: 1.5px solid grey;
    margin-top:10%;
    font-size:30px;

}

*:focus {
    outline: none;
}

.hot-products-container{
    background: rgb(25,25,25);
    width:100%;
    height:400px;
    position: relative;
    z-index:3;

}

.move-down{
    margin-top:150px;
}

.hot-product{
    width:30%;
    height:70%;
    background:rgb(35,35,35);
    display: inline-block;
    margin-left:30px;
    margin-top:65px;
    overflow: hidden;
    position: relative;
}

.hot-product img {
    width:100%;
    min-height: 100%;
    height: auto;
}

.hot-product h1 {
    color:white;
    font-size:32px;
    z-index:9;
    font-weight:lighter !important;

    margin-left:20px;

}

.hot-product-overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin-top:150px;

}

.main-hot-container{
    width:100%;
    height:500px;
    position: relative;
}

.main-hot-side-img{
    position: absolute;
    top:0;
    left:38%;
    width:62%;
    height:200%;
    background:rgb(50,50,50);
}

.main-hot-side-img img {

    position: absolute;
    top:0px;
    width:100%;
    left:0px;
    height:100%;



}

.main-hot-container h1 {
    color:black;
    font-size:90px;
    font-weight:600 !important;
    width:200px;
    margin-top:100px;
    margin-left:50px;
}

.underline{
    background:black;

}


.main-hot-container > p > img {
    width: 20px;
    height:20px;

}

a,p,h2,h3{
    font-family: 'Lato', sans-serif !important;


}

.main-hot-container p {
    margin-left:60px;
    font-size: 23px;
    margin-top:50px;
    width:300px;
}

.underline{
    width:0;
    height:3px;
    margin-top:30px;
    transition: width 500ms ease-in-out;
}
.underline2{
    width:0%;
    height:3px;
    margin-top:30px;
    transition: width 500ms ease-in-out;
    background:black;
}
.add-width{
    width: 20%;

}

.whats-new{
    width:100%;
    min-height:400px;
    height:auto;
    margin-top:45%;
    position: relative;
}

.whats-new h1 {
    font-size:70px;
    margin-left: 60px;
}



.whats-new-side-container{
    position: absolute;
    background:rgb(30,30,30);
    width:37%;
    height:1000px;
    top:140px;
    left:64%;
}

.whats-new-layout{
    width:40%;
    height:auto;
    margin-left:50px;
    margin-top:30px;
    display: inline-block;
    background:rgb(250,250,255);
    border-radius: 1em;
}

.whats-new-layout img {
    width:90%;
    margin-top:5%;
    margin-left:5%;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.4);

    height:auto;
    min-height:200px;

}

.whats-new-layout h1 {
    font-size:40px;
    margin-left:20px;
    width:70%;
    font-weight:bold;
    color:black;
    margin-top:50px;

}



.whats-new-layout p {
    margin-left:10px;
    width:70%;
    font-size:25px;
    color:black;
    transform:translateY(0px);

}

.whats-new-layout-container{
    width:60%;
    overflow: hidden;
}

.whats-new-side-container img {
    width:60%;
    max-height: 60%;
    margin-left:20%;
    margin-top:20%;
    height:auto;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.8);

}

.whats-new-side-container h1{
    color:white;
    font-size:40px;
    margin-left:20%;
    transform:translateY(20px);
    width:60%;

}

.whats-new-side-container p {
    color:white;
    font-size:20px;
    margin-left:30px;
    transform:translateY(50px);
    margin-left:20%;
    width:60%;


}


.product-of-the-week{
    width:96.5%;
    height:600px;
    margin-top:50px;
    background: rgb(35,35,35);
    position: relative;
    overflow: hidden;
}

.week-img-one, .week-img-two{
    transition: all 400ms ease-in-out;
}
.change-dimensions{
    min-width:0px !important;
    width: 0px !important;
}

.product-side-week {
    position: absolute;
    top:0;
    background:rgb(50,50,70);
    min-width:55%;
    width:auto;
    height:auto;
    left:45%;
    min-height:100%;
}

.week-img-overlay{
    position: absolute;
    top:0;
    left:0;
    pointer-events: none;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}

.week-img-overlay h1{
    color:white;
    font-weight:bold;
    margin-left:50px;
    font-size:50px;
    margin-top: 10%;
}

.week-img-container {
    width:100%;
    height:100%;
    background:rgb(50,70,50);
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;


}

.top-product{
    text-align: center;
    margin-top:420px;
    transform:translateY(50px);
    font-size:70px;
    padding-bottom:30px;
}

.change-white {
    color:white !important;
    margin-left:0px;
    transform:Translate(0px,0px)
}

.draw-border {
    box-shadow: inset 0 0 0 4px #58afd1;
    color: #58afd1;
    -webkit-transition: color 0.25s 0.08333s;
    transition: color 0.25s 0.08333s;
    position: relative;
}
.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}
.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}
.draw-border:hover {
    color: #ffe593;
}
.draw-border:hover::before, .draw-border:hover::after {
    border-color: #ffe593;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
    transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
    transition-delay: 0s, 0.25s, 0s;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
}
.btn:focus {
    outline: 2px dotted #55d7dc;
}





.product-of-the-week > img {
    width:55%;
    height:auto;
    min-height:100%;

}

.week-img-container img {
    position: absolute;
    top:0;
    left:0;
    min-width:100%;
    min-height:100%;
    width:100%;
    height:auto;

}

.product-of-the-week p{
    font-size:17px;
    color:white;
    text-transform: uppercase;
    margin-top:20px;
    margin-left:40px;
    width:30%;
}

.product-of-the-week h1 {
    font-size:65px;
    color:white;
    width:45%;
    text-transform: uppercase;
    margin-top:70px;
    margin-left:30px;
}

.two-container{
    width:100%;
    height:500px;
    margin-top:50px;
    white-space:nowrap;

}
.last-two-product-showcase{
    width:45%;
    height:500px;
    display: inline-block;
    margin-left:30px;
    overflow: hidden;
    position: relative;

}

.two-img-overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:5;
    background:rgba(0,0,0,0.5);
}

.last-two-product-showcase h1 {
    position: absolute;
    font-size: 60px;
    margin-left:20px;
    color:white;
    top:50%;
    background:black;
}



.last-two-product-showcase img {
    width:45%;
    display: block;
    margin: 0  auto;
    min-height:45%;
    height:65%;
    margin-top:15%;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);

}

.bottom-footer{
    background:black;
    width:100%;
    height:400px;
    margin-top:30px;
}






.draw-border{
    margin-left: 60px;
    margin-top:30px;
    font-size:27px !important;
}

.videoPlayer{
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.move-back {
    opacity: 1;
    transform:translateX(0px);
}

.fa-bars{
    position: absolute;
    left:0;
    margin-top:60px;
    margin-left:40px;
    opacity:0;

}

