.tools-i-use {
    margin-top:200px;
    max-width:1200px;
    margin-left:30px;
    margin-right: 30px;
}

.tools-i-use img {
    width:100%;
    height:auto;
}

.tools-i-use h1 {
    font-size:80px;
    text-align: center;
}

.bars {
    position: fixed;
    left:5px;
    top:10px;

}